/*
    Copyright 2016 0xFireball. All Rights Reserved.

    https://github.com/0xFireball
    https://0xfireball.me

    This file is part of NoteBin3
*/


/* paper color */

body {
    background-color: #f4f4f4;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content {
    flex: 1 0 auto;
}

a.padded-brand-logo.left.brand-logo {
    padding-left: 30px;
    padding-right: 30px;
}

.nb-med-square {
    width: 240px;
    height: 240px;
}

.margin-above {
    margin-top: 30px;
}

.mg-divider-sm {
    height: 10px;
}

.mg-divider {
    height: 20px;
}

.mg-divider-2 {
    height: 40px;
}

.mg-divider-3 {
    height: 60px;
}

.mg-divider-4 {
    height: 80px;
}

#btn-signup {
    margin-right: 15px;
}

#btn-login {
    margin-right: 15px;
}